.feedBg {
    background: linear-gradient(135deg, #62B2CD, #4aa4c2);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: "Pixelify Sans", sans-serif;
}

.feedSp {
    background-color: rgb(253, 251, 248);
    width: 60%;
    max-width: 700px;
    height: 80vh;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}