.signUpSp1 {
    background: linear-gradient(135deg, #62B2CD, #4aa4c2);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: "Pixelify Sans", sans-serif;
}

.signUpBSp {
    background-color: rgb(253, 251, 248);
    width: 60%;
    max-width: 700px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.subjectBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10%;
    height: 250px;
    background-color:#62B2CD ;
    border-radius: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  font-size: 30px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  z-index: 1;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Each item style */
.dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

/* Hover effect for each item individually */
.dropdown-item:hover {
  background-color: #ddd; /* change to any color you like */
}

.dropdown-item.selected {
  background-color: #add8e6; /* light blue */
}